/* .aboutVolunteer{
    display: flex;
    height: 20rem;
} */

.justcon-se{
    justify-content: space-evenly
}

.align-content-center{
    align-content: center
}

.grid{
    display: grid
}

.width-400pg{
    width: 400%
}

/* .imgVolunteerBox{
    display: grid;
} */

/* .infoVolunteer{
    margin-left: 1.5rem;
} */

.infoVolunteerTitle{
    font-size: 1.8rem;
}

.infoVolunteerText{
    margin-top: 1rem;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.infoVolunteerText > span{
    color: #6a6a6a;
    font-weight: 500;
}

.font-weight-500{
    font-weight: 500;
}

.inscriptionVolunteerTitle{
    font-size: 1.8rem;
    margin-top: 4rem;
}

.inscriptionVolunteerText{
    margin-top: 0.5rem;
}

.vagasBox{
    font-size: 1.2rem;
    margin-left: 14rem;
    width: 30vw;
    height: 20.5vw;
    border: 0.1rem solid #000000;
    border-radius: 1rem;
    background-color: #fafafa;
    padding: 0;
}

.titleBox{
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 1.3rem;
    color: #0084FE;
    font-weight: 700;
}

.filaDeVagas{
    margin-left: 1rem;
    margin-top: 0.4rem;
    background: #fff;
    border: 1px solid #e6e3e3;
    border-radius: 1rem;
    width: 27vw;
    height: 16vw;
}

.mg-r-64{
    margin-right: 4rem;
}

.mg-r-128{
    margin-right: 8rem;
}

.mg-r-auto{
    margin-right: auto;
}


/*Scroll-Container*/

  scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  scroll-container {
    margin-top: 0.5rem;
    display: block;
    width: 350px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  scroll-page {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }

  #listItem{
      text-decoration: none;
      list-style: none;
  }