/* .instructionCards{
    align-content: space-between
}

.outlineBtn{
    border: 1px solid #1975FF
}

.btnCenter{
    align-items: center;
}

div > CardHome{
    margin-top: 1rem;
} */

span > #bannerTextTitle{
    font-size: 3rem
}


/* div > .labelWelcome{
    width: 3rem;
} */
