.container{
    width: 100%;
    display: flex;
}

.container > .loginImagePart{
    width: 50%;
    height: 500px;
    z-index: 0;
}


.container > .loginImagePart > .loginImage{
    height: 70%;
    width: 40%;
    background-color: #fff;
    z-index: 1;
    position: absolute;
}

.container > .loginImagePart > .textImage{
    position: absolute;
    z-index: 2;
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    width: 50%;
    margin-left: 1rem;
    top: 30rem;
}

.yellowWord{
    color: #FFB219;
}

.blueWord{
    color: #1975FF
}

.container > .registerVacancyForm{
    margin-left: 3%;
    width: 62%;
    height: 35rem;
    background-color: #FCFCFC;
    border-radius: 1rem;
    border: 1px solid #000;
} 


.center{
    text-align: center
}

.title{
    margin-top: 1rem;
}

.inputLogin{
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.bold{
    font-weight: 700;
}

.buttonEnter{
    margin: 2rem auto 0 auto;
}

.formFooter{
    margin-top: 1.5rem;
}

#btnEnter{
    width:10rem;
    font-weight: 600;
    height: 3rem;
    font-size: 1.0rem;
    background: #1975FF
}

.lblForm{
    display: flex;
}

.btnPage{
    margin-top: 3rem;
}