.width-50pg{
    width: 50%
}

.width-55pg{
    width: 55%
}

.height-70pg{
    height: 70%
}

.height-760p{
    height: 47.5rem
}

.height-100pg{
    height: 100%
}

.height-95pg{
    height: 95%
}

.height-90pg{
    height: 90%
}

.height-640p{
    height: 40rem
}

.height-680p{
    height: 42.5rem
}

.height-720p{
    height: 45rem
}

.height-800p{
    height: 50rem
}

.height-880p{
    height: 55rem
}

.width-300pg{
    width: 300%
}

.width-200pg{
    width: 200%
}

.center{
    text-align: center
}

.title{
    margin-top: 1rem;
}

#btnEnter{
    width:10rem;
    font-weight: 600;
    height: 3rem;
    font-size: 1.0rem;
    background: #1975FF
}

.lblForm{
    display: flex;
}

/* .btnPage{
    margin-top: 3rem;
} */