.container{
    width: 100%;
    display: flex;
}

.container > .loginImage{
    width: 50%;
    height: 500px;
}

.container > .loginImage, .childrenImage{
    filter: brightness(0.8); 
}

.textImageOng{
    color: #fff;
    font-weight: 700;
    font-size: 3.5rem;
    position: absolute;
    width: 50%;
    margin-left: 2.5rem;
    top: 53rem;
}

.label-title{
    font-size: 2.1rem;
    font-weight: 700;
}

.yellowWord{
    color: #FFB219;
}

.blueWord{
    color: blue;
}

.blueWord{
    color: #1975FF
}

.container > .formOng{
    display: block;
    margin-left: 6.1%;
}


.container > .formOng > .loginForm{
    margin-left: 5%;
    width: 91.2%;
    height: 53rem;
    background-color: #FCFCFC;
    border-radius: 1rem;
    border: 1px solid #000;
} 

.inputBairro{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem

}

.inputCep{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem

}

.inputSenha{
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem
}

#btnAdd{
    /* margin-top: 5%;
    margin-bottom: 2%; */

    height: 3.5rem;
    background: #1975FF
}

.height-1020p{
    height: 70rem;
}

.height-1036p{
    height: 71rem;
}

.height-65pg{
    height: 65%;
}

.height-60pg{
    height: 60%;
}

.height-45pg{
    height: 45%;
}

.height-40pg{
    height: 40%;
}

.height-35pg{
    height: 35%;
}

.height-25pg{
    height: 25%;
}

.height-30pg{
    height: 30%;
}

.mg-b-64{
    margin-bottom: 4rem;
}

.mg-b-32{
    margin-bottom: 2rem;
}

.comboBox{
    margin-top: 3%;
}


.container > .formOng > .infContaForm{
    margin-top: 2%;
    margin-left: 5%;
    width: 91.2%;
    height: 24rem;
    background-color: #FCFCFC;
    border-radius: 1rem;
    border: 1px solid #000;
} 

.formOng > .checkboxOng{
    margin-left: 7%;
}

.center{
    text-align: center
}

.title{
    margin-top: 1rem;
}

.inputInfPessoal{
    margin-top: 1rem;
    margin-left: 1rem;
}


.bold{
    font-weight: 700;
}

.buttonEnter{
    margin: 2rem auto 0 auto;
}

.formFooter{
    margin-top: 1.5rem;
}

#btnCadastrarOng{
    margin-left: 3rem;
    width:10rem;
    font-weight: 600;
    height: 3rem;
    font-size: 1.0rem;
    border-radius: 0.5rem;
    background: #1975FF
}

.inputFoto{
    margin-top: 1rem;
}

.btnCause:hover{
    background-color: #FFB219;
    color: #fff;
    transition: 0.75s;
}

.mg-l-8{
    margin-left: 0.5rem;
}