.navbar {
    display: flex;
    width: 100%;
    height: 5rem;
    margin-bottom: 3rem;
    background-color: white;
}

.logo {
    background-color: blue;
    width: 30rem;
    height: auto;
}

.botoes {
    display: flex;
    background-color: white;
    width: 50rem;
    height: auto;
    margin-left: auto;
}

.link {
    color: #0084FE;
    position: relative;
    margin: auto;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.botao {
    background-size: auto;
    background-color: #FFB219;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}

#entrar {
    color: white;
}